<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>User Service</key>
	<array>
		<string>CreateUser</string>
		<string>CreateUserWithRoles</string>
		<string>AssignRoles</string>
		<string>GetUserByName</string>
		<string>GetRolesByUser</string>
		<string>GetUsersByRole</string>
		<string>GetAllUsersCount</string>
		<string>GetLockedUsersCount</string>
		<string>GetAllUsers</string>
		<string>GetAllUsersByPaging</string>
		<string>GetLockedUsers</string>
		<string>GetLockedUsersByPaging</string>
		<string>GetUserByEmailId</string>
		<string>UpdateEmail</string>
		<string>DeleteUser</string>
		<string>CreateOrUpdateProfile</string>
		<string>AuthenticateUser</string>
		<string>LockUser</string>
		<string>UnlockUser</string>
		<string>ChangeUserPassword</string>
		<string>ResetUserPassword</string>
		<string>RevokeRole</string>
		<string>RevokeAllRoles</string>
		<string>GetUsersByProfileData</string>
		<string>Logout</string>
		<string>CreateUserWithProfile</string>
		<string>GetUsersByGroup</string>
		<string>ResetUserPasswordWithCustomName</string>
		<string>ResetUserPasswordWithEmailVerification</string>
		<string>GetAllUsersWithAdvancedSearch</string>
		<string>GetProfileWithAuthenticateUser</string>
	</array>
	<key>Reward Service</key>
	<array>
		<string>CreateReward</string>
		<string>GetAllRewardsCount</string>
		<string>GetAllRewards</string>
		<string>GetAllRewardsByPaging</string>
		<string>GetRewardByName</string>
		<string>EarnRewards</string>
		<string>RedeemRewards</string>
		<string>GetGameRewardPointsForUser</string>
		<string>GetTopNRewardEarners</string>
		<string>GetAllRewardsByUser</string>
		<string>GetTopNRewardEarnersByGroup</string>
		<string>GetUserRankingOnReward</string>
	</array>
	<key>PushNotification Service</key>
	<array>
		<string>RegisterDeviceToken</string>
		<string>CreateChannelForApp</string>
		<string>SubscribeToChannel</string>
		<string>UnsubscribeFromChannel</string>
		<string>SubscribeToChannelWithDeviceToken</string>
		<string>SubscribeToChannelWithTokenType</string>
		<string>UnsubscribeDeviceToChannel</string>
		<string>SendPushMessageToChannel</string>
		<string>SendPushMessageDictToChannel</string>
		<string>SendPushMessageToAll</string>
		<string>SendPushMessageToiOS</string>
		<string>SendPushMessageToAndroid</string>
		<string>SendPushMessageToUser</string>
		<string>SendPushMessageDictToUser</string>
		<string>SendPushToTargetUsers</string>
		<string>SendPushMessageToGroup</string>
		<string>SendMessageToInActiveUsersFromDate</string>
		<string>ScheduleMessageToUser</string>
		<string>DeleteDeviceToken</string>
		<string>DeleteAllDevices</string>
		<string>UnsubscribeDeviceForUser</string>
		<string>ResubscribeDeviceForUser</string>
		<string>SendPushMessageToDevice</string>
		<string>UpdatePushBadgeforDevice</string>
		<string>UpdatePushBadgeforUser</string>
		<string>DeleteChannel</string>
	</array>
	<key>Storage Service</key>
	<array>
		<string>InsertDocFromJsonString</string>
		<string>InsertDocFromDictionary</string>
		<string>FindAllDocs</string>
		<string>FindAllDocsByPaging</string>
		<string>FindAllDocsCount</string>
		<string>FindAllCollections</string>
		<string>FindDocumentById</string>
		<string>FindDocumentByKeyValue</string>
		<string>FindDocumentByQuery</string>
		<string>FindDocumentsByQueryWithPaging</string>
		<string>FindDocsWithQueryPagingOrderBy</string>
		<string>UpdateDocumentByIdFromJsonString</string>
		<string>UpdateDocumentByIdFromDictionary</string>
		<string>UpdateDocumentByKeyValueFromJsonString</string>
		<string>UpdateDocumentByKeyValueFromDictionary</string>
		<string>UpdateDocumentByQueryFromJsonString</string>
		<string>UpdateDocumentByQueryFromDictionary</string>
		<string>SaveOrUpdateDocumentByKeyValueFromJsonString</string>
		<string>SaveOrUpdateDocumentByKeyValueFromDictionary</string>
		<string>DeleteAllDocuments</string>
		<string>DeleteDocumentById</string>
		<string>DeleteDocumentsByKeyValue</string>
		<string>AddOrUpdateKeys</string>
		<string>InsertJsonDocUsingMap</string>
		<string>MapReduce</string>
	</array>
	<key>Scoreboard Service</key>
	<array>
		<string>SaveUserScore</string>
		<string>GetScoresByUser</string>
		<string>GetHighestScoreByUser</string>
		<string>GetLowestScoreByUser</string>
		<string>GetTopRankings</string>
		<string>GetAverageScoreByUser</string>
		<string>GetTopNRankings</string>
		<string>GetTopRankersByGroup</string>
		<string>GetTopRankingsByGroup</string>
		<string>GetTopRankingsInDateRange</string>
		<string>GetTopNRankersInDateRange</string>
		<string>GetLastGameScore</string>
		<string>GetUserRanking</string>
		<string>GetLastScoreByUser</string>
		<string>EditScoreValueById</string>
		<string>GetTopRankersFromBuddyGroup</string>
		<string>GetTopNRankersFromFacebook</string>
		<string>GetTopNRankersFromFacebookInDateRange</string>
		<string>GetTopNTargetRankers</string>
		<string>GetUsersWithScoreRange</string>
		<string>GetTopNRankers</string>
	</array>
	<key>Game Service</key>
	<array>
		<string>CreateGame</string>
		<string>GetAllGamesCount</string>
		<string>GetAllGames</string>
		<string>GetAllGamesByPaging</string>
		<string>GetGameByName</string>
	</array>
	<key>Upload Service</key>
	<array>
		<string>UploadFileFromPath</string>
		<string>UploadFileWithData</string>
		<string>UploadFileForUserFromPath</string>
		<string>uploadFileForUserWithData</string>
		<string>GetAllFilesCount</string>
		<string>GetAllFiles</string>
		<string>GetAllFilesByPaging</string>
		<string>GetFileByUser</string>
		<string>GetAllFilesCountByUser</string>
		<string>GetAllFilesByUser</string>
		<string>GetAllFilesByUserByPaging</string>
		<string>GetFileByName</string>
		<string>RemoveFileByUser</string>
		<string>RemoveAllFilesByUser</string>
		<string>RemoveAllFiles</string>
		<string>GetFilesCountByType</string>
		<string>GetFilesByType</string>
		<string>GetFilesByTypeByPaging</string>
		<string>GrantAccessOnFile</string>
		<string>RevokeAccessOnFile</string>
		<string>UploadFileForGroupFromPath</string>
		<string>UploadFileForGroupWithData</string>
	</array>
	<key>Catalogue Service</key>
	<array>
		<string>CreateCatalogue</string>
		<string>CreateCategory</string>
		<string>AddItem</string>
		<string>GetItems</string>
		<string>GetItemsByCategory</string>
		<string>GetItemsCountByCategory</string>
		<string>GetItemsByCategoryByPaging</string>
		<string>GetItemById</string>
		<string>RemoveAllItems</string>
		<string>RemoveItemsByCategory</string>
		<string>RemoveItemById</string>
	</array>
	<key>Message Service</key>
	<array>
		<string>CreatePullQueue</string>
		<string>DeletePullQueue</string>
		<string>PurgePullQueue</string>
		<string>PendingMessages</string>
		<string>GetMessages</string>
		<string>SendMessage</string>
		<string>ReceiveMessage</string>
		<string>ReceiveMessageByCorrelationId</string>
		<string>RemoveMessage</string>
	</array>
	<key>Achievement Service</key>
	<array>
		<string>CreateAchievementWithName</string>
		<string>EarnAchievementWithName</string>
		<string>GetAllAchievementsForUser</string>
		<string>GetAllAchievementsForUserInAGame</string>
		<string>GetAllAchievements</string>
		<string>GetAchievementByName</string>
		<string>GetAllUsersWithAchievement</string>
	</array>
	<key>Timer Service</key>
	<array>
		<string>CreateOrUpdateTimerWithName</string>
		<string>StartTimerWithName</string>
		<string>IsTimerActive</string>
		<string>CancelTimerWithName</string>
		<string>DeleteTimerWithName</string>
		<string>GetCurrentTime</string>
	</array>
	<key>Buddy Service</key>
	<array>
		<string>SendFriendRequestFromUser</string>
		<string>GetFriendRequest</string>
		<string>AcceptFriendRequestFromBuddy</string>
		<string>RejectFriendRequestFromBuddy</string>
		<string>CreateGroup</string>
		<string>GetAllFriends</string>
		<string>AddFriends</string>
		<string>CheckedInWithUser</string>
		<string>GetFriendsOfUser</string>
		<string>GetAllGroups</string>
		<string>GetAllFriendsOfUser</string>
		<string>BlockFriendRequestFromBuddy</string>
		<string>BlockBuddy</string>
		<string>UnblockBuddy</string>
		<string>SendMessageToGroup</string>
		<string>SendMessageToFriend</string>
		<string>SendMessageToFriends</string>
		<string>GetAllMessages</string>
		<string>GetAllMessagesFromBuddy</string>
		<string>GetAllMessagesFromGroup</string>
		<string>UnFriend</string>
		<string>DeleteMessageById</string>
		<string>DeleteMessageByIds</string>
	</array>
	<key>Log Service</key>
	<array>
		<string>Info</string>
		<string>Debug</string>
		<string>Fatal</string>
		<string>Error</string>
		<string>FetchLogsCountByModule</string>
		<string>FetchLogsByModule</string>
		<string>FetchLogsByModuleAndText</string>
		<string>fetchLogsCountByInfo</string>
		<string>FetchLogsCountByDebug</string>
		<string>fetchLogsCountByError</string>
		<string>fetchLogsCountByFatal</string>
		<string>FetchLogsByInfo</string>
		<string>fetchLogsByDebug</string>
		<string>fetchLogsByError</string>
		<string>FetchLogsByDebug</string>
		<string>fetchLogsByError</string>
		<string>fetchLogsByFatal</string>
		<string>FetchLogsByModuleAndTextByPaging</string>
		<string>FetchLogsCountByModuleAndText</string>
		<string>FetchLogsByInfoByPaging</string>
	</array>
</dict>
</plist>
